/*
	Author: Nicdark
	Author URI: http://www.nicdarkthemes.com/
*/

/*framework*/
body{ margin:0px; padding:0px; overflow-x:hidden; font-family: 'Open Sans', sans-serif; font-weight: normal; color: #a4a4a4; }
body ul { margin: 0px; padding: 0px; list-style: none; } 
.nicdark_site{ float: right; width:75%; -webkit-transition: all 0.8s ease; -moz-transition: all 0.8s ease; -o-transition: all 0.8s ease; -ms-transition: all 0.8s ease; transition: all 0.8s ease; }
.nicdark_container { padding: 50px 50px; }

/*table*/
table{ width: 100%; }
table, table td{ border: 1px solid #f1f1f1; border-collapse: collapse; font-size: 15px; }
td { padding: 10px 20px; }
thead td { padding: 20px; }
thead { background-color: #f9f9f9; }

/*general text*/
h1,h2 { font-weight: normal; margin:0px; padding: 0px; color: #727475; }
p { font-size: 16px; margin: 10px 0px; padding: 0px; font-weight: normal; line-height: 25px; }
a { text-decoration: none; color: #a4a4a4; border-bottom: 2px solid #c19b76; color: #727475; padding-bottom: 3px; margin: 0px 5px; }
code{  }
pre{ background-color:#f9f9f9; border: 1px solid #f1f1f1; overflow:auto; padding: 20px; margin: 0px; }

/*h2*/
h2 { font-size: 26px; margin: 20px 0px 40px 0px; outline: 0; }
h2:before { content: '';width: 30px;height: 2px;background-color: #f1f1f1;position: absolute;margin-left: 0px;margin-top: 55px; }

/*components*/
.nicdark_title_theme{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  padding: 25px 20px;
  background-color: #1BAE90  ;
}

.nicdark_title_theme span{ font-size: 14px; display: block; margin-top: 5px; }

.nicdark_chapter { color: #fff; background-color: #c19b76; margin: 0px; padding: 100px 50px; font-size: 40px;}
.nicdark_chapter_number { color: #a98562; }
.nicdark_spacer_5{ height: 5px; }
.nicdark_spacer_10{ height: 10px; }
.nicdark_spacer_20{ height: 20px; }
.nicdark_spacer_30{ height: 30px; }

.nicdark_menu { left:0; width: 25%; height: 100%; position: fixed; background-color: #444; }
.nicdark_menu ul li { margin: 20px 20px 20px 25px; font-size: 15px; }
.nicdark_menu ul li a { margin: 0px; font-size: 15px; color: #a4a4a4; padding: 0px; border: 0px solid #ccc; display: inline-block}
.nicdark_menu ul li:before { content: '\e8c7'; font-family: fontello; margin-right: 15px; }
.nicdark_menu a { color: #fff; border: 0px; margin: 0px; padding: 20px; display: block; border-bottom: 1px solid #595959; }
.nicdark_menu a span { color: #a4a4a4; }
.nicdark_menu_content{ width:100%; height: 100%; float: left; }
.nicdark_cursor_none{ cursor: text; }
.nicdark_cursor_pointer{ cursor: pointer; }
.nicdark_italic { font-style: italic; }